/** mobile **/
#body__grid {
  margin: 0px;
  padding: 0%;
}
#body__grid .head {
  width: 100vw;
}
#body__grid .head .head__nav {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);
}
#body__grid .head .head__nav .head__nav__titulo {
  text-align: center;
  width: 100vw;
  max-width: 768px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
#body__grid .head .head__nav .head__nav__titulo img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  animation: rotate-scale-up-diag-1 3s linear both;
}
@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(0 0.8) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: scale(0.8) rotate3d(1, 1, 0, -360deg);
  }
}
#body__grid .head .head__nav .head__nav__titulo h1 {
  color: rgb(8, 109, 112);
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 40px;
}
#body__grid .head .head__nav .head__nav__titulo p {
  color: rgb(8, 109, 112);
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 16px;
}
#body__grid .head .head__nav .head__nav__link {
  text-align: center;
  max-width: 768px;
  min-width: 320px;
}
#body__grid .head .head__nav .head__nav__link ul li {
  list-style: none;
  padding: 5px;
}
#body__grid .head .head__nav .head__nav__link ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Fuzzy Bubbles", cursive;
  color: rgb(8, 109, 112);
}
#body__grid .head .head__nav .head__nav__link ul li a:hover {
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
  border-radius: 10%;
  color: white;
  font-size: 25px;
}
@media (min-width: 768px) {
  #body__grid .head .head__nav .head__nav__titulo {
    width: 100vw;
    max-width: 1200px;
    min-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #body__grid .head .head__nav .head__nav__titulo img {
    animation: rotate-scale-up-diag-1 3s linear both infinite;
  }
  @keyframes rotate-scale-up-diag-1 {
    0% {
      transform: scale(0.5) rotate3d(1, 1, 0, 0deg);
    }
    50% {
      transform: scale(0.8) rotate3d(1, 1, 0, -180deg);
    }
    100% {
      transform: scale(0.5) rotate3d(1, 1, 0, -360deg);
    }
  }
  #body__grid .head .head__nav .head__nav__titulo p {
    display: grid;
    align-items: flex-end;
    align-self: flex-end;
  }
  #body__grid .head .head__nav .head__nav__titulo h1 {
    font-size: 44px;
  }
  #body__grid .head .head__nav .head__nav__link {
    justify-self: center;
    align-self: center;
  }
  #body__grid .head .head__nav .head__nav__link ul li {
    float: right;
    margin-right: 20px;
    -webkit-animation: rotate-vert-center 1.5s;
    animation: rotate-vert-center 1.5s;
  }
  #body__grid .head .head__nav .head__nav__link ul li a:hover {
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
    border-radius: 10%;
    color: white;
    font-size: 25px;
  }
  @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
}

/** mobile **/
.main {
  background-image: url(../img/img\ header.jpg);
  background-size: cover;
  display: grid;
}
.main section article {
  width: 100vw;
  max-width: 768px;
  min-width: 320px;
}
.main section article #imagen {
  text-align: center;
  width: 100vw;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  grid-template-areas: "imagen" "video";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 5px;
}
.main section article #imagen img {
  grid-area: imagen;
  width: 50vw;
  height: auto;
  padding: 10px;
}
.main section article #imagen video {
  grid-area: video;
  width: 80vw;
  height: auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.main section article #resert {
  display: grid;
  grid-template-areas: "button" "a";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.main section article #resert button {
  grid-area: button;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  width: 140px;
  height: 40px;
  font-size: 13.3333333333px;
  font-family: "Fuzzy Bubbles", cursive;
  border-bottom: 8px solid rgb(56, 101, 116);
}
.main section article #resert button:hover {
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
  border-radius: 5%;
  font-size: 25px;
}
.main section article #resert a {
  grid-area: a;
  width: 50vw;
  padding: 10px;
  justify-self: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Fuzzy Bubbles", cursive;
  color: rgb(220, 96, 30);
}
.main section article #resert a:hover {
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
  border-radius: 5%;
  color: white;
  font-size: 25px;
}

@media (min-width: 768px) {
  .main article {
    width: 100vw;
    max-width: 1200px;
    min-width: 768px;
  }
  .main article #imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 10px;
    background-color: black;
  }
  .main article #imagen img {
    -webkit-animation: rotate-diagonal-1 1.5s linear both;
    animation: rotate-diagonal-1 1.5s linear both;
  }
  @-webkit-keyframes rotate-diagonal-1 {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
      transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
      transform: rotate3d(1, 1, 0, -360deg);
    }
  }
  @keyframes rotate-diagonal-1 {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
      transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
      transform: rotate3d(1, 1, 0, -360deg);
    }
  }
  .main article #imagen video {
    width: 100px;
  }
  .main article #resert {
    width: 100vw;
    max-width: 1200px;
    min-width: 768px;
  }
  .main article #resert button {
    grid-area: button;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    font-size: 13.3333333333px;
    font-family: "Fuzzy Bubbles", cursive;
    border-bottom: 8px solid rgb(56, 101, 116);
  }
  .main article #resert button:hover {
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
    border-radius: 5%;
    font-size: 25px;
  }
  .main article #resert a {
    grid-area: a;
    width: 50vw;
    padding: 10px;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Fuzzy Bubbles", cursive;
    color: rgb(220, 96, 30);
  }
  .main article #resert a:hover {
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
    border-radius: 5%;
    color: white;
    font-size: 25px;
  }
}
#footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "p" "buttom";
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);
  width: 100vw;
  margin: 0px;
  padding: 0%;
}
#footer .footer__p {
  grid-area: p;
  width: 100vw;
  max-width: 768px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
#footer .footer__p p {
  text-align: center;
  font-size: 13.3333333333px;
  font-family: "Fuzzy Bubbles", cursive;
  color: rgb(8, 109, 112);
  padding: 10px;
}
#footer .footer__div {
  grid-area: buttom;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "inicio" "redes";
  background-image: url(../img/footer-redes-sociales.jpg);
  background-size: cover;
  opacity: 75%;
  width: 100vw;
  max-width: 768px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border-radius: 40%;
}
#footer .footer__div .car {
  grid-area: inicio;
  text-align: center;
  width: 100vw;
  max-width: 768px;
  min-width: 320px;
}
#footer .footer__div .car button {
  font-size: 13.3333333333px;
  font-family: "Fuzzy Bubbles", cursive;
  border-bottom: 8px solid rgb(56, 101, 116);
  border-radius: 5%;
  margin: 10px;
}
#footer .footer__div .car button a {
  justify-self: center;
  font-family: "Fuzzy Bubbles", cursive;
  text-align: center;
}
#footer .footer__div .car button a:hover {
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
  border-radius: 5%;
  font-size: 20px;
}
#footer .footer__div .footer__div__a {
  grid-area: redes;
  text-align: center;
  width: 100vw;
  max-width: 768px;
  min-width: 320px;
}
#footer .footer__div .footer__div__a ul li {
  list-style: none;
  padding: 2px;
}
#footer .footer__div .footer__div__a ul li a img {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

@media (min-width: 768px) {
  #footer {
    height: auto;
    width: 100vw;
    max-width: 1200px;
    min-width: 768px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: black;
  }
  #footer .footer__p {
    justify-self: center;
    align-self: center;
  }
  #footer .footer__p p {
    text-align: center;
  }
  #footer .footer__div {
    display: flex;
    width: 100vw;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  #footer .footer__div .car {
    display: flex;
    justify-content: right;
    width: 25vw;
    height: 5vw;
  }
  #footer .footer__div .car button {
    text-align: center;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    font-size: 13.3333333333px;
    font-family: "Fuzzy Bubbles", cursive;
    border-bottom: 8px solid rgb(56, 101, 116);
  }
  #footer .footer__div .car button a {
    font-size: 20px;
  }
  #footer .footer__div .car button a:hover {
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
    border-radius: 5%;
    color: white;
    font-size: 25px;
  }
  #footer .footer__div .footer__div__a {
    width: 20vw;
    height: 20vw;
  }
  #footer .footer__div .footer__div__a ul li {
    float: right;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
    width: 50px;
    -webkit-animation: rotate-diagonal-1 1.5s linear both;
    animation: rotate-diagonal-1 1.5s linear both;
  }
  @-webkit-keyframes rotate-diagonal-1 {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
      transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
      transform: rotate3d(1, 1, 0, -360deg);
    }
  }
  @keyframes rotate-diagonal-1 {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
      transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
      transform: rotate3d(1, 1, 0, -360deg);
    }
  }
}
section h2 {
  text-align: center;
  color: rgb(110, 248, 229);
  font-size: 26.6666666667px;
  font-family: "Fuzzy Bubbles", cursive;
  padding: 10px;
}
section h2 button {
  color: rgb(110, 248, 229);
}
section p {
  text-align: center;
  color: rgb(110, 248, 229);
  font-size: 20px;
  font-family: "Fuzzy Bubbles", cursive;
}
section .servicio {
  width: 80vw;
  max-width: 768px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}

.carrousel .tamanio_img {
  width: 500px;
  height: 380px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.row {
  margin: 5px;
}
.row #principal div label {
  color: rgb(8, 109, 112);
}
.row #principal div p {
  color: rgb(8, 109, 112);
}
.row #principal div span {
  color: rgb(8, 109, 112);
}
.row .animacion {
  -webkit-animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse;
  animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

#carouselExampleControls .tamanio_img {
  width: 500px;
  height: 380px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#carouselExampleControls .tamanio_img img {
  width: 100vw;
  height: 100vw;
}

/*# sourceMappingURL=style.css.map */
