
@mixin menu ($ancho, $alto, $padding) {
   width: $ancho;
   height: $alto;
}

$boton:(
    aling-self: center,
    justify-self: center, 
    font-family: fuzzy bubbles cursive,
    border-bottom: 8px solid rgb(56, 101, 116), 
    border-radius: 5%, 
);
$backgrand:(
    bg-color: #0093E9,
    bg-footer: url(../img/footer-redes-sociales.jpg),
    bg-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%),
    bg-main: url(../img/img\ header.jpg),
    b-radius: 2%,
    b-size: cover,
);
