@use "../base/variable";
@use "../base/globales";

/** mobile **/
.main{
    background-image: url(../img/img\header.jpg);
    background-size: cover;
    display: grid;
    width: 100vw;
    section{
        article{
            width: 100vw;
            min-width: 320px;
            margin-right: 20px;
            #imagen{
                text-align: center;
                width: 100vw;
                overflow: hidden;
                position: relative;
                box-sizing: border-box;
                grid-template-areas: 
                "imagen"
                "video";
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                margin: 5px;
                img{
                    grid-area: imagen;
                    width: 30vw;
                    height: auto;
                    margin: 20px;
                    padding: 10px;
                }
                video{
                    grid-area: video;
                    width: 65vw;
                    height: auto;
                    overflow: hidden;
                    position: relative;
                    box-sizing: border-box;
                }
            }
            #resert{
                display: grid;
                grid-template-areas: 
                "button"
                "a";
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                button{
                    grid-area: button;
                    align-self: center;
                    justify-self: center;
                    text-align: center;
                    padding: 5px;
                    margin-top: 10px;
                    width: 140px;
                    height: 40px;
                    font-size: (variable.$tamanoh)/3;
                    font-family: variable.$tipoletra;
                    border-bottom: map-get(globales.$boton , border-bottom );
                    border-radius: map-get(globales.$boton , border-radis);
                    &:hover{
                        background-color: #0093E9;
                        background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
                        border-radius: map-get(globales.$boton , border-radius );
                        font-size: (variable.$tamanoh)/1.6;
                    }
                }
                a{
                    grid-area: a;
                    width: 50vw;
                    padding: 10px;
                    justify-self: center;
                    text-align: center;
                    text-decoration: none;
                    font-size: (variable.$tamanoh)/2;
                    font-family: variable.$tipoletra;
                    color: rgb(220, 96, 30);
                    &:hover{
                        background-color: #0093E9;
                        background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
                        border-radius: 5%;
                        color: white;
                        font-size: 25px;
                    }
                }
            }
          
        }
    }
}

    //*  tablet - desktop*//


@media (min-width: 768px) {
    .main{
        -webkit-animation: bg-pan-bl 8s both;
        animation: bg-pan-bl 8s both;
        @-webkit-keyframes bg-pan-bl {
            0% {
              background-position: 100% 0%;
            }
            100% {
              background-position: 0% 100%;
            }
          }
          @keyframes bg-pan-bl {
            0% {
              background-position: 100% 0%;
            }
            100% {
              background-position: 0% 100%;
            }
          }
            article{
                width: 100vw;
                min-width: 768px;
                #imagen{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        -webkit-animation: rotate-diagonal-1 1.5s linear both;
                        animation: rotate-diagonal-1 1.5s linear both;
                    }
                    @-webkit-keyframes rotate-diagonal-1 {
                        0% {
                        -webkit-transform: rotate3d(1, 1, 0, 0deg);
                                transform: rotate3d(1, 1, 0, 0deg);
                        }
                        50% {
                        -webkit-transform: rotate3d(1, 1, 0, -180deg);
                                transform: rotate3d(1, 1, 0, -180deg);
                        }
                        100% {
                        -webkit-transform: rotate3d(1, 1, 0, -360deg);
                                transform: rotate3d(1, 1, 0, -360deg);
                        }
                    }
                    @keyframes rotate-diagonal-1 {
                        0% {
                        -webkit-transform: rotate3d(1, 1, 0, 0deg);
                                transform: rotate3d(1, 1, 0, 0deg);
                        }
                        50% {
                        -webkit-transform: rotate3d(1, 1, 0, -180deg);
                                transform: rotate3d(1, 1, 0, -180deg);
                        }
                        100% {
                        -webkit-transform: rotate3d(1, 1, 0, -360deg);
                                transform: rotate3d(1, 1, 0, -360deg);
                        }
                    }
                    video{
                        width: 100px;
                        padding-right: 10px;
                    }
                }
                #resert{
                    width: 100vw;
                    min-width: 768px;
                    button{
                        grid-area: button;
                        align-self: center;
                        justify-self: center;
                        text-align: center;
                        padding: 5px;
                        margin-top: 10px;
                        width: 140px;
                        height: 40px;
                        font-size: (variable.$tamanoh)/3;
                        font-family: variable.$tipoletra;
                        border-bottom: map-get(globales.$boton , border-bottom );
                        border-radius: map-get(globales.$boton , border-radis);
                        &:hover{
                            background-color: #0093E9;
                            background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
                            border-radius: map-get(globales.$boton , border-radius );
                            font-size: (variable.$tamanoh)/1.6;
                        }
                    }
                    a{
                        grid-area: a;
                        width: 50vw;
                        padding: 10px;
                        justify-self: center;
                        text-align: center;
                        text-decoration: none;
                        font-size: (variable.$tamanoh)/2;
                        font-family: variable.$tipoletra;
                        color: rgb(220, 96, 30);
                        &:hover{
                            background-color: #0093E9;
                            background-image: linear-gradient(135deg, #05649b 0%, #539b93 50%, #e58888 100%);
                            border-radius: 5%;
                            color: white;
                            font-size: 25px;
                        }
                    }
                }
            } 
    }
}