
#carouselExampleControls{
    .tamanio_img{
        width: 500px;
        height: 380px;
        margin-top: 5px;
        margin-bottom: 10px;
        img{
            width: 100vw;
            height: 100vw;
        }
    }
}